<section ng-controller="ArticlesController" ng-init="findOne()">
    <h1>Edit Aritcle</h1>
    <form ng-submit="update()">
        <div>
            <label for="title">Title</label>
            <div>
                <input type="text" ng-model="article.title" id="title" 
                placeholder="Title" required>
            </div>
        </div>

        <div>
            <label for="content">Content</label>
            <div>
                <textarea ng-model="article.content" id="content" cols="30" 
                rows="10" placeholder="Content" required></textarea>
            </div>
        </div>

        <div>
            <input type="submit" value="Update">
        </div>
        <div ng-show="error">
            <strong ng-bind="error"></strong>
        </div>
    </form>
</section>