<!DOCTYPE <!DOCTYPE html>
<html ng-app="admin">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Admin</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
    <div ng-view></div>
    <script src="/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
    <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
</body>
</html>