<!DOCTYPE html>
<html ng-app="mean">
    <head>
        <title><%= title %></title>
        <script src="/bower_components/jquery/dist/jquery.min.js"></script>
        <script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="/css/index.css">
        <link rel="stylesheet" href="/components/user-page/user-page.component.css">
    </head>
    <body>
        <script type="text/javascript">
            window.user =  <%- user || 'null' %>;
        </script>

        <div class="row">
                <ul class="nav nav-pills nav-postion">
                    <li role="presentation" class="nav-logo"><span id="nav-image"></span></li>
                    <li role="presentation" ><a href="#">Home</a></li>
                    <li role="presentation" ><a href="#">聊天室</a></li>
                    <li role="presentation" ><a href="#">文章</a></li>
                    <li role="presentation" class="dropdown nav-sign" style="float: right;"> 
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">
                          登录/注册 <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="/signin">本地登录</a></li>
                            <li><a href="/oauth/github">Github登录</a></li>
                            <li><a href="/oauth/facebook">Facebook登录</a></li>
                            <li><a href="/signup">注册账号</a></li>
                        </ul>
                    </li>
                </ul>
        </div>
        <div class="row">
            <div class="col-md-9">
                <section ng-view></section> 
            </div>
            <div class="col-md-3">
                <user-page></user-page>
            </div>
        </div>
        
        <!-- 需要加载socket.io客户端第三方库 -->
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    
        <script src="/bower_components/angular/angular.js"></script>
        <script type="text/javascript" src="/bower_components/angular-route/angular-route.js"></script>
        <script type="text/javascript" src="bower_components/angular-resource/angular-resource.js"></script>
       
        <script type="text/javascript" src="/example/example.client.module.js"></script>
        <script type="text/javascript" src="/example/config/example.client.routes.js"></script>
        <script type="text/javascript" src="/example/controllers/example.client.controller.js"></script>

        <script type="text/javascript" src="/users/users.client.module.js"></script>
        <script type="text/javascript" src="/users/services/authentication.client.service.js"></script>
        <script type="text/javascript" src="/users/services/admin.client.services.js"></script>
        <script type="text/javascript" src="/users/config/users.client.routes.js"></script>
        <script type="text/javascript" src="/users/controllers/users.client.controller.js"></script>

        <script type="text/javascript" src="/articles/articles.client.module.js"></script>
        <script type="text/javascript" src="/articles/services/articles.client.service.js"></script>
        <script type="text/javascript" src="/articles/controllers/articles.client.controller.js"></script> 
        <script type="text/javascript" src="/articles/config/articles.client.routes.js"></script> 

        <script type="text/javascript" src="/chat/chat.client.module.js"></script>
        <script type="text/javascript" src="/chat/services/chat.client.service.js"></script>
        <script type="text/javascript" src="/chat/controllers/chat.client.controller.js"></script>
        <script type="text/javascript" src="/chat/config/chat.client.routes.js"></script>

        <script type="text/javascript" src="/components/user-page/user-page.module.js">
        </script>
         <script type="text/javascript" src="/components/user-page/user-page.component.js">
         </script>

        <script type="text/javascript" src="/app.js"></script>
    </body>
</html>